/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

.mb30 {
    margin-bottom: 30px;
}

.mb35 {
    margin-bottom: 35px;
}

.hidden {
    display: none;
}

/****** Header ***********/
nav {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 61.09px;
    height: 19px;
    padding: 30px 50px 30px 0;
}

nav ul {
    display: flex;
    gap: 68px;
    list-style: none;
    margin-top: 0;
}

nav ul li {
    padding-top: 16px;
}

nav ul li:hover {
    color: var(--main-color);
    border-top: 2px solid var(--main-color);
}

nav ul li:active {
    color: var(--main-color);
}

/****** Research Form ***********/
.hebergements-search-title p {
    margin-top: 8px;
}

/****** Search bar ***********/
.search-form {
    display: flex;
}

.search-form div {
    border-radius: 15px 0 0 15px;
    padding: 15px 17.5px 15px 17.5px;
    background-color: var(--main-bg-color);
    border: 2px solid var(--main-bg-color);
}

.fa-location-dot {
    color: #000000;
}

.search-input {
    border-radius: 0;
    border-top: 1px solid var(--main-bg-color);
    border-bottom: 1px solid var(--main-bg-color);
    border-left: none;
    border-right: none;
    padding: 0 20px;
    font-size: 1.1em;
    font-weight: 700;
    color: #000000;
}

.search-button {
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    border-radius: 0 15px 15px 0;
    padding: 15px 16px 15px 16px;
    color: #FFFFFF;
    font-size: 1.1em;
    font-weight: 700;
}

/****** Filters ***********/
.filters {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}

.filters div {
    display: flex;
    gap: 15px;
}

.filters-button {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 50px;
    border-radius: 25px;
    border: 2px solid #D9D9D9;
    padding: 4px 19px 4px 19px;
    font-size: 1.1em;
    font-weight: 700;
    background-color: #FFFFFF;
}

.filters-button:hover {
    background-color: var(--filter-bg-color);
}

/****** Info hébergements ***********/
.info-hebergements {
    display: flex;
    align-items: center;
    gap: 10px;
}

.info-hebergements p {
    margin: 0;
}

.info-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 24px;
    height: 24px;
    border: 1px solid #D9D9D9;
    border-radius: 100%;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements .section-title {
    margin-bottom: 33px;
}

.hebergements-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px
}

.hebergements-cards a {
    width: 30%;
}

.hebergements-cards img {
    width: 100%;
    height: 124px;
    border-radius: 20px 20px 0 0;
}

.hebergements-cards .card-content {
    padding-left: 15px;
}

.hebergements-cards .card-title {
    margin-top: 5px;
    margin-bottom: 8px;
}

.hebergements-cards .card-subtitle {
    font-size: 0.85em;
    margin: 0 0 8px 0;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
}

.show-more {
    font-size: 1.2em;
    font-weight: 700;
    margin-bottom: 0;
    padding-top: 9px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activités à Marseille ***********/
.activites {
    padding: 30px;
}

.activites-cards {
    display: flex;
    margin-top: 33px;
    gap: 30px;
}

.activites-cards a {
    width: 25%;
}

.activites-cards .card {
    border-radius: 20px;
    padding: 0;
}

.activites-cards img {
    width: 100%;
    height: 380px;
    border-radius: 20px 20px 0 0;
}

.activites-text {
    display: flex;
    align-items: center;
    height: 59px;
    border-radius: 0 0 20px 20px;
}

.activites-text .card-title {
    padding: 10px 19px 10px 19px;
    margin: 0;

}

/****** Footer ***********/
footer {
    display: flex;
    gap: 30px;
    background-color: var(--main-bg-color);
}

.footer-section {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 33%;
    padding: 20px;
}

.footer-section .card-title {
    margin: 0;
    font-size: 1.1em;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (min-width: 1025px) and (max-width: 1115px) {
    .hebergements-cards {
        gap: 20px;
    }
}

/* Medium devices (tablets, less/equal than 1024px) */
@media screen and (max-width: 1024px) {
    /* Filters */
    .filters-title {
        width: 100%;
        margin: 0;
    }

    .filters {
        flex-wrap: wrap;
        gap: 20px;
    }

    /* Hébergements */
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    /* Populaires */
    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-subtitle {
        font-size: 14px;
    }

    /* Activités */
    .activites-cards img {
        height: 200px;
    }

    .activites-text {
        height: 70px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* General */
    .main-container {
        min-width: 320px;
        padding: 0;
    }

    .hebergements-search, .activites  {
        padding: 0 20px;
    }

    /* Header */
    nav {
        flex-direction: column;
        align-items: center;
    }

    .logo {
        padding: 30px;
    }

    nav ul {
        width: 100%;
        gap: 15px;
        padding-left: 0;
    }
    
    nav ul li {
        display: flex;
        justify-content: center;
        width: 50%;
        padding-top: 0;
        padding-bottom: 15px;
    }

    nav ul li:hover {
        border-top: 0px;
        border-bottom: 2px solid var(--main-color);
    }

    /* Search Bar */
    .search-input {
        width: 100%;
        border: 1px solid var(--main-bg-color);
        border-radius: 0 15px 15px 0;
    }
    
    .search-form {
        position: relative;
    }

    .search-button {
        display: none;
    }

    .search-icon {
        display: initial;
        background-color: var(--main-color);
        border: 1px solid var(--main-color);
        border-radius: 15px;
        padding: 15px 16px 15px 16px;
        color: #FFFFFF;
        font-size: 1.1em;
        font-weight: bold;
        filter: drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.1));
        position: absolute;
        right: 0;
    }

    /* Filters */
    .filters {
        gap: 20px 10px;
    }

    .filters div {
        display: flex;
        width: 100%;
        gap: 10px;
    }

    .filters-button {
        font-size: 0.88em;
        font-weight: 700;
        background-color: #FFFFFF;
        width: 50%;
    }

    /*  Hébergements et Populaires */
    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }

    .hebergements-and-populaires section {
        border-radius: 0px;
    }

    .hebergements-and-populaires .populaires {
        background-color: var(--main-bg-color);
        padding: 30px 20px;
    }

    .populaires {
        width: 100%;
        margin-top: 0;
    }

    .populaires-title {
        margin-bottom: 35px;
    }

    .populaires-cards {
        flex-direction: column;
        gap: 15px;
    }

    .populaires-cards .card {
        margin-top: 0px;
    }

    .populaires-cards a {
        width: 100%;
    }

    .hebergements-and-populaires .hebergements {
        background-color: #FFFFFF;
        padding: 30px 20px;
    }

    .hebergements-cards {
        gap: 15px;
        flex-direction: column;
    }

    .hebergements-cards a {
        width: 100%;
    }

    /*  Activités */
    .activites-cards {
        gap: 15px;
        flex-direction: column;
    }

    .activites-cards a {
        width: 100%;
    }

    .activites-cards img {
        height: 141px;
    }

    .activites-text {
        height: 59px;
    }

    /*  Footer */
    footer {
        gap: 50px;
        flex-direction: column;
        padding: 30px;
    }

    .footer-section {
        width: 100%;
        padding: 0px;
        gap: 15px;
    }

}